# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-change-this-key-for-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,158.160.253.59
DJANGO_CSRF_TRUSTED_ORIGINS=http://158.160.253.59,https://158.160.253.59
DJANGO_CORS_ALLOWED_ORIGINS=http://158.160.253.59,https://158.160.253.59
DJANGO_TIME_ZONE=Asia/Bishkek

# Wildberries
# Пример токена: eyJhbGciOi...
WB_ANALYTICS_API_TOKEN=eyJhbGciOi...
WB_PROMOTION_API_TOKEN=eyJhbGciOi...

# Часовой пояс и расписание синхронизации
WB_REPORT_TIMEZONE=Asia/Bishkek
WB_SYNC_HOUR=9
WB_SYNC_MINUTE=15
WB_SYNC_SLEEP_SECONDS=60

# Сопоставление appType из WB Promotion со столбцами мониторинга
# search = Поиск
# recommendation = Полки
# catalog = Каталог
WB_APP_TYPE_ZONE_MAP=1:recommendation,32:search,64:catalog

