# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-change-this-key-for-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver
DJANGO_TIME_ZONE=Asia/Bishkek

# Wildberries
# Пример токена: eyJhbGciOi...
WB_ANALYTICS_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzg5NTg5ODAzLCJpZCI6IjAxOWQwMDA0LWJiMzEtN2M0YS04ZWNmLTgyMTQ5NmFmM2UyMSIsImlpZCI6MTIzMTY1MzA2LCJvaWQiOjEzOTU2ODksInMiOjc5MzQsInNpZCI6IjE2M2M2YTJkLWY3NmItNGRiZS04NWE0LTc3ZGNhNTQ4Y2MzYSIsInQiOmZhbHNlLCJ1aWQiOjEyMzE2NTMwNn0.LNnRSvKIqqAqoBXAc1hov0y3j4U_q72AIcTsmaHikCSG59n9DH8E6nIMKGYHCpK1s4-cHMkmul3cVTM9k6A1LA
WB_PROMOTION_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzg5NTg5ODAzLCJpZCI6IjAxOWQwMDA0LWJiMzEtN2M0YS04ZWNmLTgyMTQ5NmFmM2UyMSIsImlpZCI6MTIzMTY1MzA2LCJvaWQiOjEzOTU2ODksInMiOjc5MzQsInNpZCI6IjE2M2M2YTJkLWY3NmItNGRiZS04NWE0LTc3ZGNhNTQ4Y2MzYSIsInQiOmZhbHNlLCJ1aWQiOjEyMzE2NTMwNn0.LNnRSvKIqqAqoBXAc1hov0y3j4U_q72AIcTsmaHikCSG59n9DH8E6nIMKGYHCpK1s4-cHMkmul3cVTM9k6A1LA

# Часовой пояс и расписание синхронизации
WB_REPORT_TIMEZONE=Asia/Bishkek
WB_SYNC_HOUR=9
WB_SYNC_MINUTE=15
WB_SYNC_SLEEP_SECONDS=60

# Сопоставление appType из WB Promotion со столбцами мониторинга
# search = Поиск
# recommendation = Полки
# catalog = Каталог
WB_APP_TYPE_ZONE_MAP=1:recommendation,32:search,64:catalog

# Google Sheets
# Вариант 1: путь к JSON-файлу service account
GOOGLE_SERVICE_ACCOUNT_FILE=C:\service-accounts\wb-monitoring-service-account.json

# Вариант 2: JSON service account одной строкой
# Если используете файл выше, это поле можно оставить пустым
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"wb-monitoring-prod","private_key_id":"abc123def456","private_key":"-----BEGIN PRIVATE KEY-----\\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASC...\\n-----END PRIVATE KEY-----\\n","client_email":"wb-monitoring-bot@wb-monitoring-prod.iam.gserviceaccount.com","client_id":"123456789012345678901","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"https://www.googleapis.com/robot/v1/metadata/x509/wb-monitoring-bot%40wb-monitoring-prod.iam.gserviceaccount.com"}
