# Django
DJANGO_DEBUG=1
DJANGO_SECRET_KEY=django-insecure-change-this-key-for-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,testserver,1f93-193-34-225-20.ngrok-free.app,a68c-193-34-225-20.ngrok-free.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://1f93-193-34-225-20.ngrok-free.app,https://a68c-193-34-225-20.ngrok-free.app
DJANGO_CORS_ALLOWED_ORIGINS=https://1f93-193-34-225-20.ngrok-free.app,https://a68c-193-34-225-20.ngrok-free.app
DJANGO_TIME_ZONE=Asia/Bishkek

# Wildberries
# Пример токена: eyJhbGciOi...
WB_ANALYTICS_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzg5NTg5ODAzLCJpZCI6IjAxOWQwMDA0LWJiMzEtN2M0YS04ZWNmLTgyMTQ5NmFmM2UyMSIsImlpZCI6MTIzMTY1MzA2LCJvaWQiOjEzOTU2ODksInMiOjc5MzQsInNpZCI6IjE2M2M2YTJkLWY3NmItNGRiZS04NWE0LTc3ZGNhNTQ4Y2MzYSIsInQiOmZhbHNlLCJ1aWQiOjEyMzE2NTMwNn0.LNnRSvKIqqAqoBXAc1hov0y3j4U_q72AIcTsmaHikCSG59n9DH8E6nIMKGYHCpK1s4-cHMkmul3cVTM9k6A1LA
WB_PROMOTION_API_TOKEN=eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjYwMzAydjEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjEsImVudCI6MSwiZXhwIjoxNzg5NTg5ODAzLCJpZCI6IjAxOWQwMDA0LWJiMzEtN2M0YS04ZWNmLTgyMTQ5NmFmM2UyMSIsImlpZCI6MTIzMTY1MzA2LCJvaWQiOjEzOTU2ODksInMiOjc5MzQsInNpZCI6IjE2M2M2YTJkLWY3NmItNGRiZS04NWE0LTc3ZGNhNTQ4Y2MzYSIsInQiOmZhbHNlLCJ1aWQiOjEyMzE2NTMwNn0.LNnRSvKIqqAqoBXAc1hov0y3j4U_q72AIcTsmaHikCSG59n9DH8E6nIMKGYHCpK1s4-cHMkmul3cVTM9k6A1LA

# Часовой пояс и расписание синхронизации
WB_REPORT_TIMEZONE=Asia/Bishkek
WB_SYNC_HOUR=9
WB_SYNC_MINUTE=15
WB_SYNC_SLEEP_SECONDS=60

# Сопоставление appType из WB Promotion со столбцами мониторинга
# search = Поиск
# recommendation = Полки
# catalog = Каталог
WB_APP_TYPE_ZONE_MAP=1:recommendation,32:search,64:catalog
